{% if clothingItems %}
    <div class="clothing-item-list">
        {% for clothingItem in clothingItems %}
            {% include 'clothing_item/_item.html.twig' %}
        {% endfor %}
    </div>
{% else %}
    <p>No clothing item logged in our database</p>
{% endif %}
