<div class="form-group">
    <form id="search-form">
        <div class="input-group">
            <label for="search-input" hidden="hidden"></label>
            <input type="search" id="search-input" placeholder="Search...">
            <button type="submit">Search</button>
        </div>
    </form>

    <div id="search-results" class="clothing-list"></div>
</div>
