{% extends 'base.html.twig' %}

{% block title %}My clothes{% endblock %}

{% block head %}
    {{ knp_pagination_rel_links(clothingItems) }}
{% endblock %}

{% block body %}
    <div class="container">
        <h2>My clothes</h2>

        <div class="element-center-h">
            <div class="element-center-v">
                {% include 'clothing_item/_search.html.twig' %}
            </div>

            <div class="element-center-v">
                <a href="{{ path('app_clothes_add') }}" class="button">Add new clothes</a>
            </div>

            <div class="count">
                <p>Items count : {{ clothingItems.getTotalItemCount }}</p>
            </div>

            {% include 'clothing_item/_list.html.twig' %}

            <div class="element-center-v">
                {{ knp_pagination_render(clothingItems) }}
            </div>
        </div>
    </div>
{% endblock %}
