@import "../ressources/variables";
@import "../ressources/mixins";

.form-group {
  font-family: $secondary-font;
  margin: 2rem;
  padding: 1rem;
  width: 50vw;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: start;
  border: .1rem dashed var(--color-text);
  border-radius: $border-radius;

  input {
    width: 200px;
    height: 1rem;
    margin: 1rem;
    padding: .8rem;
    border: none;
    border-radius: $border-radius;
    box-shadow: none;
    background-color: var(--color-form-background);
    color: var(--color-form-text);
    font-family: $text-font;
    font-size: 1rem;
  }

  .input-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  }

  select, .custom-select {
    width: 200px;
    height: 3rem;
    margin: 1rem;
    padding: .8rem;
    border-radius: $border-radius;
    border: none;
    box-shadow: none;
    background-color: var(--color-form-background);
    color: var(--color-form-text);
    font-family: $text-font;
    font-size: 1rem;
  }

  label {
    font-weight: 500;
    font-size: 1.2rem;
  }

  .justify-between {
    width: 40vw;
  }
}
