@import "../ressources/variables";
@import "../ressources/mixins";

.clothing-item {
  border: 0.5px solid var(--color-text);
  border-radius: $border-radius;
  padding: 1rem;
  margin: 1rem;
  width: 15vw;
  height: fit-content;

  & > h4 {
    text-decoration: underline;
    margin-bottom: 0.5rem;
  }

  //&:hover {
  //  background: var(--color-text);
  //  color: var(--color-background);
  //}
}
