@import "../ressources/mixins";
@import "../ressources/variables";

.nav {
  padding: .5rem;
}

.title-nav {
  & a {
  font-size: 2rem;
  font-family: $primary-font;
    color: var(--color-link);
    text-decoration: none;

    &:hover {
      font-weight: 800;
      color: var(--color-link-hover);
    }
  }
}

.element-nav {
  font-family: $secondary-font;

  &.active {
    font-weight: 800;
  }
}

#hamburger-menu {
  display: none;
  cursor: pointer;
}

#hamburger-menu span {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: var(--color-link);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

#sidebar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: .5rem .5rem;
  padding: .5rem;

  & ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: .5rem;

    & li {
      list-style-type: none;
      margin: 0 1rem;
    }
  }

  & a {
    color: var(--color-link);
    text-decoration: none;
    font-size: 1.3rem;

    &:hover {
      font-weight: 700;
      color: var(--color-link-hover);
    }
  }
}

@media screen and (max-width: 650px) {
  #hamburger-menu {
    display: block;
  }

  #sidebar-menu {
    position: fixed;
    top: 0;
    left: 60vw;
    height: fit-content;
    background-color: var(--color-background);
    flex-direction: column;
    justify-content: flex-start;
    transition: 0.3s;
    z-index: 100;
    border: 1px solid var(--color-text);
    border-radius: 15px;

    & ul {
      flex-direction: column;

      & li {
        margin: 10px 0;
      }
    }
  }

  .burger-shower:checked ~ #sidebar-menu {
    left: 250px;
  }

  .burger-shower:checked ~ .overlay {
    display: block;
  }
}
