{% extends 'base.html.twig' %}

{% block title %}suggestion{% endblock %}

{% block body %}
    <div class="container">
        <h2>Suggestion</h2>
        <p>Here is an outfit suggestion for the <span>"{{ weather }}"</span> weather</p>

        {% include 'outfit/_full.html.twig' %}

        <div class="element-center-v">
            <a href="{{ path('app_generate_suggestion') }}" class="button">Get a new suggestion</a>
        </div>
    </div>
{% endblock %}
