{% extends 'base.html.twig' %}

{% block title %}suggestion{% endblock %}

{% block body %}
    <h1>suggestion</h1>

    <h2>Here is an outfit suggestion for the {{ weather }}</h2>

    {% include 'outfit/full.html.twig' %}

    <div class="element-center">
        <a href="{{ path('app_generate_suggestion') }}" class="button">Get a new suggestion</a>
    </div>

{% endblock %}
