@import "variables";

@mixin light-mode {
  --color-text: #{$primary-dark-color};
  --color-background: #{$primary-light-color};
  --color-form-text: #{$primary-light-color};
  --color-form-background: #{$primary-dark-color};
  --color-btn-text: #{$primary-light-color};
  --color-btn-background: #{$primary-dark-color};
  --color-link: var(--color-text);
  --color-link-hover: #{$secondary-light-color};
}

@mixin dark-mode {
  --color-text: #{$primary-light-color};
  --color-background: #{$primary-dark-color};
  --color-form-text: #{$primary-dark-color};
  --color-form-background: #{$primary-light-color};
  --color-btn-text: #{$primary-dark-color};
  --color-btn-background: #{$primary-light-color};
  --color-link: var(--color-text);
  --color-link-hover: #{$secondary-light-color};
}

@mixin media-min980 {
  @media (min-width: 980px) {
    body {
      margin: 1.5rem;
      padding: 0.75rem;
      font-size: 18px;
    }

    .container {
      width: 90%;
      padding: 0.75rem;
    }

    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 2.2rem;
    }
    h3 {
      font-size: 2rem;
    }
    h4 {
      font-size: 1.7rem;
    }

    p {
      font-size: 1.1rem;
    }

    .splitter {
      width: 70%;
    }

    .element-center-h {
      width: 80%;
    }

    .justify-between {
      flex-direction: row;
      gap: 0.75rem;
    }

    .input-group {
      flex-wrap: nowrap;
    }

    .outfit-grid {
      display: flex;
    }
  }
}
