// SIZES
$border-radius: 0.5rem;

// FONTS
$primary-font : "Sarina", sans-serif;
$secondary-font: "Ojuju", sans-serif;
$text-font: "Kodchasan", sans-serif;

// DARK COLORS
$primary-dark-color: #46413f;

// LIGHT COLORS
$primary-light-color: #ffeddb;
$secondary-light-color: #b6dad9;
$light-color-1: #d9ccb6;
$light-color-2: #edcdbb;
$light-color-3: #e3b7a0;
$light-color-4: #bf9270;
