{% extends 'base.html.twig' %}

{% block title %}tchooz{% endblock %}

{% block body %}

{#    <h1>tchooz</h1>#}

    <p>welcome to <span class="title">tchooz</span>, the app designed to help you make choices!</p>

{% endblock %}
