{% extends 'base.html.twig' %}

{% block title %}tchooz{% endblock %}

{% block body %}
    <div class="container">
        <div class="element-center-v">
            <div class="element-center-h">
                <p>welcome to <span class="title">tchooz</span>, the app designed to help you make choices!</p>
            </div>

            {% if app.user is null %}
                <p><a href="{{ path('app_register') }}">Register</a> or <a href="{{ path('app_login') }}">login</a> to
                    get
                    outfit suggestions.</p>
            {% endif %}

            {% if app.user %}
                {% include 'current_weather/_weather.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
