{% extends 'base.html.twig' %}

{% block title %}My settings{% endblock %}

{% block body %}
    <div class="container">

        <h2>Edit your settings</h2>

        {% include 'user_profile/edit.html.twig' %}
    </div>
{% endblock %}
