@import "_imports";

// DEFINING THEMES
html[data-theme="light"] {
  --color-text: #{$primary-dark-color};
  --color-background: #{$primary-light-color};
  --color-link: #{$primary-dark-color};
  --color-link-hover: #{$secondary-light-color};
}

html[data-theme="dark"] {
  --color-text: #{$primary-light-color};
  --color-background: #{$primary-dark-color};
  --color-link: #{$primary-light-color};
  --color-link-hover: #{$secondary-light-color};
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 2rem;
  padding: 1rem;
  color: var(--color-text);
  background: var(--color-background);
}

.container {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

title, h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: $secondary-font;
}

h1 {
  font-size: 4rem;
  font-family: $primary-font;
  }

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-family: $text-font;
  text-align: center;
}

.title {
  font-family: $primary-font;
}