.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.title-nav a {
  font-size: 2rem;
  font-family: "Sarina", sans-serif;
  color: var(--color-link);
  text-decoration: none;
}
.title-nav a:hover {
  font-weight: 800;
  color: var(--color-link-hover);
}

.element-nav {
  font-family: "Ojuju", sans-serif;
}
.element-nav.active {
  font-weight: 800;
}

#hamburger-menu {
  display: none;
  cursor: pointer;
}

#hamburger-menu span {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: var(--color-link);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#sidebar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem;
}
#sidebar-menu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5rem;
}
#sidebar-menu ul li {
  list-style-type: none;
  margin: 0 1rem;
}
#sidebar-menu a {
  color: var(--color-link);
  text-decoration: none;
  font-size: 1.3rem;
}
#sidebar-menu a:hover {
  font-weight: 700;
  color: var(--color-link-hover);
}

@media screen and (max-width: 650px) {
  #hamburger-menu {
    display: block;
  }
  #sidebar-menu {
    position: fixed;
    top: 0;
    left: 60vw;
    height: fit-content;
    background-color: var(--color-background);
    flex-direction: column;
    justify-content: flex-start;
    transition: 0.3s;
    z-index: 100;
    border: 1px solid var(--color-text);
    border-radius: 15px;
  }
  #sidebar-menu ul {
    flex-direction: column;
  }
  #sidebar-menu ul li {
    margin: 10px 0;
  }
  .burger-shower:checked ~ #sidebar-menu {
    left: 250px;
  }
  .burger-shower:checked ~ .overlay {
    display: block;
  }
}
.form-group {
  font-family: "Ojuju", sans-serif;
  margin: 2rem;
  padding: 1rem;
  width: 50vw;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: start;
  border: 0.1rem dashed var(--color-text);
  border-radius: 0.5rem;
}
.form-group input {
  width: 200px;
  min-height: 2rem;
  max-height: 3rem;
  margin: 1rem;
  padding: 0.8rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: none;
  background-color: var(--color-form-background);
  color: var(--color-form-text);
  font-family: "Kodchasan", sans-serif;
}
.form-group .input-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.form-group .custom-select {
  width: 200px;
  height: 80px;
  margin: 1rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  box-shadow: none;
  background-color: var(--color-form-background);
  color: var(--color-form-text);
  font-family: "Kodchasan", sans-serif;
  font-size: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 68px;
  height: 38px;
  margin: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

@keyframes going-dark {
  100% {
    -webkit-transform: translateX(28px);
  }
}
@keyframes going-light {
  0% {
    -webkit-transform: translateX(28px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}
.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 8px;
  bottom: 7px;
  background-color: var(--color-text);
  border-radius: 50%;
  -webkit-animation: going-light 0.4s cubic-bezier(0.57, 1.52, 0.64, 1) normal;
  -webkit-transition: 0.4s;
  animation: going-light 0.4s cubic-bezier(0.57, 1.52, 0.64, 1) normal;
  transition: 0.4s;
}

input:checked + .slider:before {
  background-color: var(--color-text);
  -webkit-animation: going-dark 0.4s cubic-bezier(0.57, 1.52, 0.64, 1) forwards;
  -webkit-transition: all 0.4s;
  animation: going-dark 0.4s cubic-bezier(0.57, 1.52, 0.64, 1) forwards;
  transition: all 0.4s;
}

button, a.button {
  margin: 1rem;
  padding: 0.5rem 1.1rem;
  border-radius: 0.5rem;
  box-shadow: none;
  color: var(--color-btn-text);
  background-color: var(--color-btn-background);
  border: none;
  font-family: "Ojuju", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
}
button:hover, a.button:hover {
  color: var(--color-btn-background);
  background-color: var(--color-btn-text);
  border: 1px solid var(--color-btn-background);
  transition: background-color 0.2s ease, color 0.2s ease;
  text-decoration: underline;
}

a.button-delete {
  background-color: darkred;
  color: #ffeddb;
}
a.button-delete:hover {
  color: var(--color-btn-background);
  background-color: var(--color-btn-text);
  border: 1px solid var(--color-btn-background);
  transition: background-color 0.2s ease, color 0.2s ease;
  text-decoration: underline;
}

.clothing-item {
  border: 0.5px solid var(--color-text);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  width: 15vw;
  height: fit-content;
}
.clothing-item > h4 {
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

.clothing-item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: center;
  justify-content: center;
}

html[data-theme=light] {
  --color-text: #46413f;
  --color-background: #ffeddb;
  --color-form-text: #ffeddb;
  --color-form-background: #46413f;
  --color-btn-text: #ffeddb;
  --color-btn-background: #46413f;
  --color-link: var(--color-text);
  --color-link-hover: #b6dad9;
}

html[data-theme=dark] {
  --color-text: #ffeddb;
  --color-background: #46413f;
  --color-form-text: #46413f;
  --color-form-background: #ffeddb;
  --color-btn-text: #46413f;
  --color-btn-background: #ffeddb;
  --color-link: var(--color-text);
  --color-link-hover: #b6dad9;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 2rem;
  padding: 1rem;
  color: var(--color-text);
  background: var(--color-background);
  transition: background 0.2s ease, color 1s ease;
}

.container {
  width: 100vw;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

title, h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: "Ojuju", sans-serif;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  font-family: "Sarina", sans-serif;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

p {
  font-family: "Kodchasan", sans-serif;
  font-size: 1.3rem;
  text-align: center;
}

a {
  font-family: "Ojuju", sans-serif;
  text-decoration: underline;
  color: var(--color-link);
}
a:hover {
  text-decoration: none;
}

.title {
  font-family: "Sarina", sans-serif;
}

.element-center-v {
  text-align: center;
  margin: 2rem 0;
}
.element-center-h {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70vh;
  padding: 2rem;
  margin: 0 2rem;
}

.justify-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

/*# sourceMappingURL=app.css.map */
