{% extends 'base.html.twig' %}

{% block title %}outfits{% endblock %}

{% block body %}
    <h1>outfits</h1>

    {% if outfits %}
        {% for outfit in outfits %}
            {% include 'outfit/full.html.twig' %}
        {% endfor %}
    {% else %}
        <h2>No outfit logged for the moment.</h2>
    {% endif %}

{% endblock %}


