<div class="element-center-v">
    {% if outfits is not empty %}
        <h2>My outfits</h2>
        {% for outfit in outfits %}
            {% include 'outfit/_full.html.twig' %}
        {% endfor %}
    {% else %}
        <p>No outfit logged for the moment.</p>
    {% endif %}
</div>
