{% extends 'base.html.twig' %}

{% block title %}Error 503{% endblock %}

{% block body %}
    <h1>Weather Service Unavailable</h1>
    <p>We're sorry: the weather service is currently unavailable. Please try again later.</p>
{% endblock %}
